使用c++语言实现路径搜索算法，做出可动态展示的demo
要求：
1. 能够在1000*1000*10的三维地图中搜索最短路径；
2. 路径的终点有两个及以上，随机分布在3维地图的不同位置，不同层；
3. 换层的代价要高于在平面走线的代价，要求总的代价要尽可能小；
4. 不要求找到代价最小的路径，要综合考虑运行时间；
5. 每个位置可以往东南西北4个平面的方向以及往上或者往下换层搜索；
6. 地图中随机分布有不同的障碍， 有些障碍不能触碰，要保持一定距离，有些障碍可以触碰，但会显著增加路径的代价
